*,
*::before,
*::after {
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}

html,
body {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
}
